*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: green;
    background-image: url("green-board.jpg");
    background-size: cover;
    /* display: flex; */
    /* justify-content: center; */
}
section{
    padding: 20px;
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: inherit;
    margin-right: inherit;
    border: 10px solid white;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction:column;
    min-height: 50vh;
    max-height: 100vh;
    min-width: 70vh;
    max-width: 70vh;
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    row-gap: 50px;
}
#message-el{
    font-style: italic;
    color: white;
    font-weight: 700;
}
p{
    color: white;
    font-style: normal;
    font-weight: 600;
}
div{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;    /*not necessary*/
}
button{
    padding: 5px;
    margin-left:110px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    font-size: large;
    width: 30vh;
    height: 2rem;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 0px;
    background-color: rgba(169, 169, 169, 0.727);
}

button:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}